{
    auto_https off
}

ihjezly.com, www.ihjezly.com {
    encode gzip
    root * /usr/share/caddy/admin
    file_server

    @root path /
    redir @root /admin

    # Backend API
    handle_path /api* {
        reverse_proxy api:5050
    }
}
